<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ADiSys</title>
		<link rel="stylesheet" href="static/intro.css">
	</head>
	<body>
		<div id="c">
			<h1>ADiSys</h1>
			<p>Система учета диспансеризации взрослого населения для медицинских учреждений</p>
			<a class="btn" href="/patients/list">Список пациентов &rarr;</a>
		</div>
	</body>
</html>
